.container{
  background-color: rgb(224, 215, 250);
  height: 30rem;
}

.form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  
}
.number{
  color: black;
  margin-left: 33rem;
  margin-top: 20px;
}
